[package]
name = "typst-lsp"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"

[dependencies]
tower-lsp = "0.19.0"
tokio = { version = "1.26.0", features = [
    "macros",
    "rt-multi-thread",
    "io-std",
] }

typst = { git = "https://github.com/typst/typst.git" }
typst-library = { git = "https://github.com/typst/typst.git" }
comemo = { git = "https://github.com/typst/comemo" }
elsa = "1.7"
once_cell = "1"
notify = "5"
codespan-reporting = "0.11"
dirs = "4"
walkdir = "2"
memmap2 = "0.5"
siphasher = "0.3"
same-file = "1"
parking_lot = "0.12.1"
append-only-vec = "0.1.2"
regex = "1.7.2"
