[package]
name = "typst-lsp"
version = "0.4.1"
edition = "2021"
license = "Apache-2.0 OR MIT"

[dependencies]
anyhow = "1.0.71"
comemo = "0.2"
dirs = "5"
elsa = { git = "https://github.com/nvarner/elsa.git" }
futures = "0.3"
if_chain = "1"
itertools = "0.10.5"
lazy_static = "1.4.0"
memmap2 = "0.5"
once_cell = "1"
parking_lot = "0.12.1"
regex = "1.8.1"
same-file = "1"
serde_json = "1.0.94"
siphasher = "0.3"
tokio = { version = "1.28.1", features = [
    "macros",
    "rt-multi-thread",
    "io-std",
] }
tower-lsp = "0.19.0"
typst = { git = "https://github.com/typst/typst.git", tag = "v0.2.0" }
typst-library = { git = "https://github.com/typst/typst.git", tag = "v0.2.0" }
unscanny = "0.1"
walkdir = "2"
