[package]
name = "typst-lsp"
version = "0.3.1"
edition = "2021"
license = "Apache-2.0 OR MIT"

[dependencies]
append-only-vec = "0.1.2"
codespan-reporting = "0.11"
comemo = "0.2"
dirs = "4"
elsa = "1.7"
futures = "0.3"
memmap2 = "0.5"
notify = "5"
once_cell = "1"
parking_lot = "0.12.1"
regex = "1.7.2"
same-file = "1"
serde_json = "1.0.94"
shellexpand = "3.1.0"
siphasher = "0.3"
tokio = { version = "1.26.0", features = [
    "macros",
    "rt-multi-thread",
    "io-std",
] }
tower-lsp = "0.19.0"
typst = { git = "https://github.com/typst/typst.git", tag = "v23-03-28" }
typst-library = { git = "https://github.com/typst/typst.git", tag = "v23-03-28" }
walkdir = "2"
