# Lapce extension
[tasks.lapce-extension-dev-setup.linux]
script = '''
ln -s "$(realpath .)/editors/lapce/" "${XDG_DATA_HOME:-$HOME/.local/share}/lapce-stable/plugins/nvarner.typst-lsp"
'''

[tasks.lapce-extension-check-flow]
dependencies = [
    "lapce-extension-build-wasm",
    "lapce-extension-clippy",
    "lapce-extension-fmt-check",
]

[tasks.lapce-extension-clippy]
cwd = "editors/lapce/"
command = "cargo"
args = ["clippy", "--all-targets", "--", "-Dwarnings"]

[tasks.lapce-extension-fmt-check]
cwd = "editors/lapce/"
command = "cargo"
args = ["fmt", "--all", "--check"]

[tasks.lapce-extension-build-flow]
dependencies = [
    "build",
    "lapce-extension-build-wasm",
    "lapce-extension-copy-wasm",
]

[tasks.lapce-extension-build-wasm]
cwd = "editors/lapce/"
command = "cargo"
args = ["build"]

[tasks.lapce-extension-copy-wasm]
cwd = "editors/lapce/"
script_runner = "@shell"
script = '''
mkdir -p out/
cp target/wasm32-wasi/debug/lapce.wasm out/
'''
